@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body{
    position: relative;
    width: auto;
    background: #121212;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectIt{
    width: auto;
    position: relative;
} 

.projectIt .header{
    margin-bottom: 20px;
    text-align: center;
}

.projectIt .header h1{
    color: #de1432;
}

.projectIt .formYetu{
    width: auto;
    position: relative;
}

.projectIt .formYetu label{
    margin-right: 60px;
}

.projectIt .formYetu label, input{
    margin-top: 20px;
}

.payP{
    margin-left: 163px;
}

.basicS{
    margin-left: 144px;
}

.payPp{
    margin-left: 151px;
}

.payPy{
    margin-left: 164px;
}

.benefit{
    margin-left: 12px;
}

.payPyp{
    margin-left: 155px;
}

.projectIt .formYetu button{
    width: 300px;
    background: #121212;
    margin-top: 20px;
    margin-left: 25%;
}

.output{
    
}

.row-output:first-child{
    border-top: 2px solid black ;

}
.row-output{
    display: grid;
    grid-template-columns: 200px 250px ;
    border: 2px solid dodgerblue;
    border-top: none;
    height: 50px;

}
.column-2{
    border-left: 2px solid black;
}
